<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Aedes (Stegomyia) aegypti (_gr aēdēs_ = odioso;  _lat ægypti_ = do Egito) é a nomenclatura taxonômica para o mosquito que é popularmente conhecido como mosquito-da-dengue ou pernilongo-rajado, uma espécie de mosquito da família Culicidae proveniente da África, atualmente distribuído por quase todo o mundo, especialmente em regiões tropicais e subtropicais, sendo dependente da concentração humana no local para se estabelecer. Acredita-se que 35% da população mundial viva em áreas propícias e endêmicas para a proliferação do mosquito.
</span>
