<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" class="margin-toggle"/>
<span class="sidenote">Terapia alvo é uma
  das modalidades de tratamento médico (farmacoterapia) para o câncer,
  sendo que outras são terapia hormonal e quimioterapia citotóxica. A terapia alvo
  bloqueia o crescimento de células
  cancerígenas interferindo com moléculas específicas necessárias para a
  carcinogênese e o crescimento do tumor, ao invés de simplesmente interferir
  com todas as células que se dividem rapidamente (por exemplo, com quimioterapia
  tradicional). Como a maioria dos agentes para terapia direcionada é
  biofarmacêutica, o termo terapia biológica é às vezes sinônimo de terapia
  alvo quando usada no contexto da terapia do câncer (e, portanto, distinta da
  quimioterapia, isto é, terapia citotóxica).
</span>
