<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Angiogênese: é o processo fisiológico através do qual
  novos vasos sanguíneos se formam a partir de vasos pré-existentes. Num uso preciso,
  isso é diferente da vasculogênese, que é a formação de células endoteliais _de
  novo_ a partir de precursores de células mesodérmicas, e da neovascularização,
  embora as discussões nem sempre sejam precisas (especialmente em textos mais
  antigos). Os primeiros vasos no embrião em desenvolvimento se formam através
  da vasculogênese, após o que a angiogênese é responsável pela maioria, senão
  por todo, o crescimento dos vasos sangüíneos durante o desenvolvimento e na
  doença. O papel da angiogênese no crescimento de tumores foi proposto pelo médico
  e cientista americano Judah Folkman em 1971.
</span>
