<label for="anomaliavasc" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="anomaliavasc" class="margin-toggle"/>
<span class="sidenote">Anomalia vascular: é toda desordem de estrutura ou
  crescimento de vasos sanguíneos, podendo ser congênita, hereditária ou adquirida.
  Podem ser classificadas em tumores vasculares, anomalias onde ocorre proliferação
  celular em alguma fase de seu desenvolvimento (ex.: hemangioma), ou malformações
  vasculares, anomalias onde existem alterações morfoestruturais causadas por
  problemas durante a embriogênese ou adquiridas (ex.: malformação capilar).
</span>
