<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="artropode" class="margin-toggle"/>
<span class="sidenote">Artrópodes (_gr arthros_ = articulado; _podos_ = pés) são um filo de animais invertebrados que possuem exoesqueleto rígido e vários pares de apêndices articulados, cujo número varia de acordo com a classe. Compõem o maior filo de animais existentes, representados por animais como os mosquitos (insetos), as aranhas (aracnídeos), os caranguejos (crustáceos), as centopeias (quilópodes) e os piolhos-de-cobra (diplópodes). 
</span>
