<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Câncer (_lat cancer_ = caranguejo): grande grupo de doenças
  muito diferentes entre si, tendo em comum a proliferação celular incessante e
  desordenada, a capacidade de invadir localmente tecidos saudáveis do organismo
  e a capacidade de se espalhar para locais distantes (metástases). Os diversos
  tipos de câncer são teoricamente oriundos de _uma única célula_ (origem clonal)
  a qual sofreu mutações em seu código genético.
</span>
