<label for="caso" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="caso"  class="margin-toggle"/>
<span class="sidenote">Caso-controle: é um estudo retrospectivo, no qual os
  participantes são selecionados entre indivíduos que já têm a doença (casos) e
  entre indivíduos que não a têm (controles); em cada um desses dois grupos,
  verifica-se o número de indivíduos expostos a algum fator de risco. 0 objetivo
  é verificar a possível existência de associação causal entre a exposição aos
  fatores de risco e a doença em estudo. Se o fator está associado à doença,
  a proporção do fator entre os casos será maior do que entre os controles.
  Este tipo de estudo tem grande aplicação para as situações em que a doença é
  pouco freqüente e o tempo decorrido entre a exposição ao risco e
  seu efeito é longo.
</span>
