<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Célula (_lat cellula_ = quarto pequeno): unidade estrutural
  e funcional dos organismos vivos. O cientista inglês Robert Hooke descreveu
  o que ele chamou de _cells_ no tratado Micrographia de 1665, ao observar tecidos
  de plantas sob microscopia. Ele achou as estruturas parecidas com favos de
  uma colméia de abelhas, daí o nome. Hoje sabe-se que todos os seres vivos são
  formados por uma (unicelulares) ou muitas (pluricelulares) unidades celulares
  (teoria celular, enunciada pela primeira vez em 1839 por Schleiden e Schwann).
  A célula é formada por uma membrana que envolve um gel chamado citoplasma e uma
  estrutura denominada núcleo onde estão os genes.
</span>
