<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Cistite (_gr quisti_ = bexiga; _itis_ = inflamação) é uma
  inflamação da bexiga urinária, geralmente causada por infecção por bactérias.
  Também pode se referir a inflamações causadas por medicamentos (como quimioterapia
  antineoplásica) ou radioterapia. Algumas drogas quimioterápicas anticâncer causam
  uma cistite com necrose e hemorragia, denominada "cistite hemorrágica".
</span>
