<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Efusão ou derrame pleural é a acumulação excessiva de
  fluido entre as membranas que envolvem o pulmão (cavidade pleural). Derrame
  pericárdico é o acúmulo de líquido na membrana que reveste o coração (pericárdio).
  Em oncologia, podem ser eventos adversos de alguns tipos de medicamentos, como
  inibidores de tirosina quinase (imatinibe, dasatinibe, nilotinibe).
</span>
