<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">DNA (ou ADN = ácido desoxiribonucléico): molécula orgânica
  complexa, o DNA é um polímero, uma cadeia formada da união de moléculas mais simples.
  Ele é formado de 4 tipos de moléculas: adenina, citosina, guanina e timina, as
  quais são _nucleotídeos_, os monômeros (partes individuais que compõem, em conjunto,
  um polímero) do DNA. Cada molécula de DNA é formada pela união de duas longas
  fitas de nucleotídeos, que se enrolam em espiral. A posição dos nucleotídeos
  ao longo da fita de DNA não é casual, ela forma um código, chamado de _código
  genético_, que armazena as informações necessárias para a produção de todas as
  proteínas de uma célula. Na verdade, o DNA contido em cada célula carrega as
  informações necessárias para reproduzir _todo_ o organismo.
</span>
