<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="encefalite" class="margin-toggle"/>
<span class="sidenote">Encefalites são infeções agudas do encéfalo, causadas por um vírus, bactérias, fungos ou parasitas e até mesmo substâncias químicas ou tóxicas. Diversos tipos de vírus podem atingir o encéfalo, dentre eles, o vírus da caxumba, o da rubéola, o da varicela e o vírus da raiva entre outros. Dentre as bactérias temos os meningococos, os pneumococos, a tuberculose e até a sífilis. Os flavivírus, a cujo grupo pertencem a dengue, a febre amarela e a zica podem ser causa de encefalite.
</span>
