<label for="ensaio" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="ensaio" class="margin-toggle"/>
<span class="sidenote">Ensaios clínicos são estudos realizados para
  testar a segurança (informações sobre
  eventos adversos) e a eficácia de intervenções de saúde (por exemplo, drogas,
  exames de diagnóstico, dispositivos, protocolos de terapia). São realizados após
  _estudos pré-clínicos_ (_in vitro_ e em animais) terem demonstrado o potencial
  de benefício do procedimento testado. Precisam de aprovação de autoridades sanitárias
  e comissões de ética.
</span>
