<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Ependimomas são um grupo de tumores gliais (gliomas) derivados das
  células da glia radial, as quais estão em íntimo contato com o epêndima, camada
   que reveste a superfície ventricular. São mais comuns no quarto ventrículo
   na fossa posterior e mais raramente ocorrem nos ventrículos laterais e III
   ventrículo. Representam menos de 10% dos tumores primários do SNC, porém constituem
   o terceiro tipo de tumor cerebral mais frequente em crianças. Apesar de poderem
   ser divididos em _baixo grau_ e _alto grau_, assim como outros gliomas, essa
   divisão não faz muita diferença em seu comportamento, e sempre são tratados
   como câncer na faixa etária pediátrica.
 </span>
