<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">O sarcoma de Ewing é uma forma de tumor ósseo maligno
  (câncer nos ossos) que atinge principalmente crianças e adolescentes, sendo o
  principal tumor ósseo maligno primário na primeira década de vida. É mais
  frequente em meninos brancos entre 5 e 25 anos, sendo muito raro entre negros
  e asiáticos, bem como em adultos. O risco de metástase é grande. Ao momento do
  diagnóstico, 25% dos pacientes já têm uma disseminação metastática (40% nos
  pulmões, 30% nos ossos, em especial na coluna vertebral, e 10% na medula óssea).
  Os ossos mais afetados geralmente são os ossos longos (como o fêmur, a tíbia e
  o úmero) e a pelve.
</span>
