<label for="farber" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Sidney Farber, nascido em 1930 (Buffalo, NY) e falecido
  em 1973 (Boston, MA), foi um patologista pediátrico, conhecido em sua
  especialidade por, entre outras descobertas, ter descrito a doença hoje
  conhecida como _Doença de Farber_ (deficiência de ceramidase). Insatisfeito
  com a completa falta de opções para o tratamento do câncer pediátrico em sua
  época, Farber foi o primeiro a completar o desenvolvimento pre-clínico e
  clínico de uma droga que conseguiu induzir uma remissão em uma criança com
  leucemia. Por esse feito, foi denominado pai da moderna quimioterapia
  antineoplásica.</span>
