<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Fases dos ensaios clínicos: de acordo com os objetivos de
  cada ensaio, pode-se classificar um estudo em Fase I (testa a segurança de uma
  nova droga, em geral em voluntários saudáveis, mas na oncologia em pacientes com
  doenças recorrentes), Fase II (testa a eficácia de uma droga, normalmente é
  controlado, randomizado e duplo-cego, mas em oncologia pediátrica é comum ser
  comparado com ensaios anteriores, sem grupo controle) e Fase III (comprova a
  eficácia do tratamento em grupos maiores de pacientes, de forma definitiva,
  sempre é controlado, randomizado e duplo-cego).
</span>
