<label for="gbm" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="gbm" class="margin-toggle"/>
<span class="sidenote">Glioblastoma (GBM), anteriormente conhecido como glioblastoma
   multiforme, é o tipo mais comum e agressivo de tumor maligno cerebral que
   acomete os seres humanos. Em crianças e adolescentes, o GBM é incomum, e os
   tumores cerebrais malignos mais frequentes são meduloblastomas. Além disso,
   a biologia molecular dos GBM pediátricos é diferente e seu tratamento não é o
   mesmo que em adultos.
</span>
