<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Gene (_gr gonos_ = geração, semente): trecho de DNA que
  codifica uma molécula (proteína) com uma função. Correspondem às unidades de herança
  hipotetizadas por Mendel e denominadas de genes pelo botânico dinamarquês
  Johannsen em 1905. Constitui uma minoria do DNA de uma célula. A maior parte do DNA
  não codifica proteínas e, portanto, não faz parte de genes. A expressão "um gene,
  uma proteína" resume o _dogma central da biologia_, de que a informação genética
  é transferida (codificada) do DNA para o RNA e deste para uma proteína
</span>
