<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Glioma é um tumor de células gliais, células que protegem,
  nutrem e dão suporte aos neurônios, podendo ocorrer no encéfalo, na medula
  espinhal ou mesmo junto a nervos periféricos. São responsáveis por
  aproximadamente 30% de todos os tumores do sistema nervoso central e por 80%
  dos tumores malignos primários no cérebro. Podem ser classificados em _gliomas
  de baixo grau_ (de comportamento geralmente benigno) ou _gliomas de alto grau_
  (malignos). Em crianças e adolescentes, ao contrário de adultos, gliomas malignos são menos comuns.
</span>
