<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Hemangioma (_gr haema_ = sangue; _angeio_ = vaso; _oma_ = tumor)
  são tumores vasculares benignos formados por um crescimento anormal de capilares
  sanguíneos que geralmente não causam danos, apenas são desagradáveis
  esteticamente. São mais comuns na pele, especialmente na cabeça e pescoço, mas
  podem aparecer em vários órgãos, como mucosas, fígado, intestino, árvore respiratória,
  cérebro, etc. Também chamados _hemangiomas infantis_ ou _hemangiomas capilares_.
  Surgem logo após o nascimento, crescem rapidamente no primeiro ano de vida e
  regridem espontaneamente a um ritmo de cerca de 10% ao ano (desaparecendo em
  até 9 anos mais ou menos).
</span>
