<label for="hr" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="hr" class="margin-toggle"/>
<span class="sidenote">Na análise de sobrevivência, a taxa ou razão de riscos (_hazard ratio_, HR)
   é a razão das taxas de risco correspondentes às condições descritas por dois
   níveis de uma variável explicativa. Por exemplo, em um estudo sobre uma exposição
   a um fator de risco, a população exposta pode morrer com o dobro da taxa por
   unidade de tempo que a população controle. A razão de risco seria 2, indicando
   maior risco de morte pela exposição.
</span>
