<label for="imuno" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="imuno" class="margin-toggle"/>
<span class="sidenote">A imunoterapia é o tratamento da doença através da indução,
  intensificação ou supressão da resposta imune do hospedeiro. As imunoterapias
  projetadas para desencadear ou amplificar uma resposta imune são classificadas
  como imunoterapias de ativação, enquanto imunoterapias que reduzem ou suprimem
  são classificadas como imunoterapias de supressão. Nos últimos anos, a
  imunoterapia tornou-se de grande interesse para pesquisadores, médicos e
  empresas farmacêuticas, particularmente em sua promessa de tratar várias
  formas de câncer.
</span>
