<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Em 2007, uma criança de 3 meses de idade foi levada para a
  Dra. Christine Leauté-Labréze, dermatologista do Bordeaux University Hospital
  Center. O bebê tinha um grande hemangioma da face, bloqueando as vias respiratórias
  e o nariz. O tratamento padrão, com dose alta do corticosteróide prednisolona,
  foi prescrito. Poucos dias depois, a criança desenvolveu uma complicação rara
  do uso de corticóides: miocardiopatia hipertrófica, a qual desencadeou insuficiência
  cardíaca. Após consultar a cardiologia, propranolol, o tratamento padrão dessa
  complicação cardíaca, foi prescrito. Para surpresa da dermatologista, a lesão
  regrediu rapidamente (ao longo de algumas semanas), enquanto a criança usava
  propranolol. A medicação foi, então, usada em outros pacientes que não tinham
  respondido à prednisolona. Em 2008, a Dra. Leauté-Labréze e colegas publicaram
  o achado mnuma [carta](http://bit.ly/fhcflxoL) para o New England Journal of
  Medicine, a qual já foi citada mais de 2 mil vezes. Posteriormente, a mesma
  pesquisadora publicou um ensaio clínico controlado validando a utilidade e
  segurança do propranolol para o tratamento de hemangiomas infantis.
</span>
