<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Leucemia linfóide aguda (LLA) é um dos 4 tipos principais de Leucemia
  (câncer da medula óssea, órgão que produz as células sanguíneas). A LLA é mais
  comum em crianças e adolescentes e representa o tipo de câncer mais comum da
  infância. As células que dão origem à LLA são células tronco (capazes de originar
  vários tipos celulares diferentes) precursoras dos linfócitos, um grupo de
  glóbulos brancos responsável por produzir anticorpos e dirigir o sistema
  imunológico. Mutações nas células tronco dão origem a células cancerígenas que
  se multiplicam sem controle, invadindo e tomando o lugar da medula óssea normal.
</span>
