<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Leucemia mielóide aguda (LMA) é um dos 4 tipos principais de Leucemia
  (câncer da medula óssea, órgão que produz as células sanguíneas). A LMA é mais
  comum em adultos e relativamente rara na
  infância. As células que dão origem à LMA são células tronco (capazes de originar
  vários tipos celulares diferentes) precursoras de granulócitos, um grupo de
  glóbulos brancos que participam da imunidade inata. Além disso, existem subtipos
  de LMA provenientes de precursores de hemácias e plaquetas. Mutações nas células
  tronco dão origem a células cancerígenas que
  se multiplicam sem controle, invadindo e tomando o lugar da medula óssea normal.
</span>
