<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Leucemia mielóide crônica (LMC) é um dos 4 tipos principais
  de Leucemia (câncer da medula óssea, órgão que produz as células sanguíneas).
  É caracterizada pela proliferação de células da linhagem granulocítica sem a
  perda de capacidade de diferenciação. É um tipo de doença mieloproliferativa e
  apresenta uma aberração citogenética ocasionada por uma translocação entre os
  cromossomos 9 e 22. Essa translocação resulta em um cromossomo 22 mais
  encurtado, chamado de cromossomo Filadélfia (cromossomo Ph1). Ocorre a fusão
  de dois genes nos cromossomos 9 e 22, chamados _abl_ e _bcr_. É uma doença
  mais comum em adultos entre 40-50 anos.
</span>
