<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Material genético é aquilo que existe dentro de uma célula
  que carrega a informação sobre as características de um determinado ser vivo. A
  herança de caracteres dos pais para os filhos é conhecida desde tempos imemoriais,
  porém apenas nos anos 1850-60 o cientista tcheco Gregor Mendel estudou detalhadamente
  os padrões de herança e cogitou que elementos hipotéticos (que foram chamados
  de "genes" apenas em 1905 por Johannsen) eram os responsáveis pela herança. A
  natureza destes genes permaneceu obscura até a demonstração que o ácido desoxiribonucléico
  (ADN ou DNA) era a molécula responsável pela herança genética nos anos 40-50.
</span>
