<label for="medulo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="medulo" class="margin-toggle"/>
<span class="sidenote">Meduloblastoma (_lat medulla_ = núcleo; _gr blasto_
 = primitivo; _oma_ = tumor) é um câncer do cerebelo, de crescimento rápido,
 mais comum em crianças. É causado por mutações genéticas em genes do grupo
 WNT/Beta-catenina, na via de sianlização SHH (Sonic hedgehog) ou em outros
 grupos de genes. Algumas síndromes genéticas raras, como a síndrome de Gorlin
 e síndrome de Turcot, aumentam o risco de desenvolver meduloblastoma.
</span>
