<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Meningioma é um tumor das membranas meningeas que envolvem
  o sistema nervoso central (SNC). Na maioria dos casos são benignos e de
  crescimento lento. Podem variar muito no tamanho, de poucos milímetros até
  muitos centímetros. Representam 36% dos tumores primários do SNC.
  São mais comuns entre os 40 e 60 anos e em mulheres, sendo raros em crianças.
</span>
