<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Metástase (_gr metastatis_ = mudanças de lugar, transferência)
  é a formação de uma nova lesão tumoral a partir de outra, mas sem continuidade
  entre as duas. Isto implica que as células neoplásicas se desprendem do tumor
  primário, movendo-se através do interstício (espaço entre as células) - ganham assim uma via de
  disseminação - sendo levadas para um local distante onde formam uma nova
  colônia neoplásica. Comumente, as metástases se formam após as células neoplásicas
  se disseminarem através dos vasos linfáticos ou da corrente sanguínea. 
</span>
