<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Metástase (_gr metastatis_ = mudanças de lugar, transferência)
  é a formação de uma nova lesão tumoral a partir de outra, mas sem continuidade
  entre as duas. As células neoplásicas se desprendem do tumor
  primário, movendo-se através do interstício (espaço entre as células) sendo levadas
  através dos vasos linfáticos ou da corrente sanguínea para um local distante onde
  formam uma nova colônia neoplásica.
</span>
