<label for="mv" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="mv" class="margin-toggle"/>
<span class="sidenote">Uma malformação linfática (ML), ou linfangioma (_gr lympha_ = água clara; _oma_ = tumor) é uma anomalia vascular congênita causada pelo desenvolvimento incorreto de células saudáveis (hamartoma) em vasos linfáticos. Esses tumores benignos são formadas por canais e/ou cistos contendo linfa em seu interior crescem em bebês, geralmente desde o nascimento. Aparecem com mais frequência em cabeça ou pescoço
</span>
