<label for="mucosite" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="mucosite" class="margin-toggle"/>
<span class="sidenote">Mucosite: uma das complicações possíveis de tratamentos
  antineoplásico que induzem a morte celular, como a quimioterapia. Algumas medicações
  anticâncer causam lesões em mucosas do organismo, como a mucosa do trato digestivo
  (boca, língua, esôfago, intestino, etc), da árvore respiratória (nariz, faringe,
  laringe, traquéia, etc) e órgãos urogenitais (bexiga, uretra, etc). Essas lesões
  tem uma grande variedade de extensão e severidade, desde poucas lesões aftosas na boca
  até necrose extensa do trato digestivo.
</span>
