<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Multicêntrico: realizado em vários centros diferentes entre
  si. Randomizado: diz-se quando a intervenção de um estudo é feita ao acaso (os pacientes
  são selecionados ao acaso para os grupos tratado e controle). Controlado: quando um
  estudo clínico compara o tratamento com um _controle_ não tratado (ou tratado
  com o _tratamento padrão_). Duplo-cego: nem os experimentadores, nem os pacientes
  sabem quem está recebendo o tratamento experimental e quem é controle num estudo
  clínico.
</span>
