<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Mutação (_lat mutatio_ = mudança): em biologia, alterações
  do material genético celular. Podem ser classificadas de diversas formas. Por exemplo,
  _mutações silenciosas_ não mudam a expressão do código genético e, portanto,
  não tem nenhuma repercussão na estrutura e metabolismo celular. _Mutações pontuais_
  ocorrem pela alteração de um único nucleotídeo da cadeia, enquanto em _deleções_
  uma parte da cadeia é perdida e em _inserções_ um trecho de nucleotídeos é adicionado.
</span>
