<label for="mv" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="mv" class="margin-toggle"/>
<span class="sidenote">As malformações venosas (VMs) são o subtipo mais comum de malformação vascular, formadas por veias malformadas que não funcionam adequadamente. Normalmente apresentam um aumento lento e gradual. No entanto, o aumento rápido pode ocorrer em determinadas situações, como cirurgia, trauma, infecção ou alterações hormonais associadas à puberdade, gravidez ou menopausa. VMs podem ocorrer em qualquer parte do corpo, incluindo a pele, tecidos moles, músculos e órgãos internos.
</span>
