<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">A razão de chances ou razão de possibilidades
  (em inglês: _odds ratio_; abreviatura O.R.) é definida como a razão entre a
  chance de um evento ocorrer em um grupo e a chance de ocorrer em outro grupo.
  Por exemplo, uma razão de chances de 2 indica que um evento tem _duas vezes mais
  chance_ de ocorrer em grupo do que no outro. É uma medida muito usada em
  estudos observacionais. 
</span>
