<label for="oms" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="oms" class="margin-toggle"/>
<span class="sidenote">Classificação de Tumores do Sistema Nervoso Central (SNC) da
  Organização Mundial de saúde (OMS): atualmente na quarta edição, é um conjunto
  de regras para diagnosticar tipos e subtipos específicos de tumores cerebrais,
  baseando-se em seu aspecto histológico. Na nova edição, além disso, somam-se,
  pela primeira vez, informações moleculares. A OMS divide os tumores do SNC em
  quatro grandes grupos: _grau I_ e _grau II_ (ambos conhecidos como _baixo grau_
  de malignidade), constituem tumores com comportamento em geral benigno; _grau III_
  e _grau IV_ (_alto grau_ de malignidade), constituem tumores aspecto maligno.
  Nem sempre essa classificação prediz o comportanto dos tumores. Para astrocitomas,
  a diferença entre baixo e alto grau é enorme, já para ependimomas é muito pequena.
</span>
