<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Osteossarcoma
  é o tumor ósseo maligno primário mais comum em crianças e adolescentes, com
  maior incidência entre 10 e 30 anos. Os locais mais
  frequentes que esse tipo de câncer afeta são o fêmur distal, joelho
  (tíbia proximal) e o ombro (úmero proximal). A incidência desse tumor é similar
  em meninos e meninas até o final da adolescência, depois
  predominando no sexo masculino.
</span>
