<label for="pe" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="pe" class="margin-toggle"/>
<span class="sidenote">A potência estatística ou poder estatístico de um teste de hipóteses binário é a probabilidade de que o teste rejeite corretamente a hipótese nula quando uma hipótese alternativa é verdadeira. A potência estatística vai de 0 a 1. Conforme a potência estatística aumenta, a probabilidade de cometer um erro diminui. A maioria dos pesquisadores avalia a potência de seus testes usando o valor de 0,80 como um padrão.
</span>
