<label for="prognostico" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="prognostico" class="margin-toggle"/>
<span class="sidenote">Prognóstico, em medicina, é conhecimento ou juízo
  antecipado, baseado no diagnóstico médico e nas possibilidades terapêuticas,
  acerca da duração, da evolução e do
  eventual termo de uma doença ou quadro clínico. É predição de como doença e/ou
  paciente irá evoluir, e se há e quais são as chances de cura. Estudos de
  prognóstico são indispensáveis tanto para a equipe médica quanto para os
  pacientes, pois podem levar a decisões importantes sobre o curso de cada
  tratamento e procedimento relevante à qualidade de vida. _Fatores de prognóstico_
  são variáveis que afetam o prognóstico do paciente, descobertos a partir de
  estudos clínicos.
</span>
