<label for="projeto" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="projeto" class="margin-toggle"/>
<span class="sidenote">Projeto Genoma Humano (PGH): consórcio internacional que
  chegou a envolver mais de 5000 pesquisadores de 50 países, reunidos com o intuito de
  sequenciar todo o genoma (conjunto de genes) humano. O projeto, planejado desde
  os anos 80, iniciou em 1990, sob a direção de James D. Watson (um dos descobridores
  da estrutura do DNA) como um programa do _Department of Energy_ (DOE) e _National
  Institutes of Health_ (NIH) americanos, prevendo que levaria 15 anos e
  gastaria 3 bilhões de dólares para sequenciar cerca de 100 mil genes. Em 2003,
  num comunicado de imprensa conjunto, foi anunciada a conclusão oficial do projeto,
  o qual sequenciou 99% do genoma humano com uma precisão de 99,99%, encontrando
  cerca de 22300 genes, muito menos do que o esperado inicialmente.
</span>
