<label for="propranolol" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="propranolol" class="margin-toggle"/>
<span class="sidenote">Propranolol: fármaco anti-hipertensivo indicado para o tratamento
   e prevenção do infarto do miocárdio, da angina, de arritmias cardíacas, bem
   como da enxaqueca. Pode ser utilizado associado ou não a outros medicamentos
   para o tratamento da hipertensão arterial. É um bloqueador de receptores beta
   adrenérgicos (betabloqueador). Em 2008, uma publicação no _New England Journal
   of Medicine_ mostrou que o propranolol pode induzir a regressão rápida de hemangiomas
   infantis.
</span>
