<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">O termo quimioterapia refere-se ao tratamento de doenças
  por substâncias químicas que afetam o funcionamento celular. Podemos nos
  referir à _quimioterapia antimicrobiana_, _quimioterapia antiviral_,
  _quimioterapia anticâncer_, etc. Popularmente, o termo refere-se à quimioterapia
  anticâncer ou antineoplásica, um dos tratamentos do câncer onde são utilizadas
  drogas capazes de induzir morte celular. As células de câncer são mais sensíveis
  à quimioterapia, por se multiplicarem rapidamente. Mesmo assim, muitos tipos
  celulares normais também são afetados por este tipo de tratamento, ocasionando
  diversos efeitos colaterais conhecidos, como a queda de cabelo e as náuseas. 
</span>
