<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Quimioterapia refere-se ao tratamento de doenças
  por substâncias químicas que afetam o funcionamento celular. Pode ser
  _quimioterapia antimicrobiana_, _quimioterapia antiviral_,
  _quimioterapia anticâncer_, etc. Popularmente, o termo refere-se à quimioterapia
  anticâncer ou antineoplásica, um dos tratamentos do câncer onde são utilizadas
  drogas capazes de induzir morte celular. As células de câncer são mais sensíveis
  à quimioterapia, por se multiplicarem rapidamente. Células normais também podem
  ser afetadas, ocasionando diversos efeitos colaterais, como a queda de cabelo. 
</span>
