<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">A radioterapia é uma modalidade de tratamento que utiliza
  uma radiação ionizante (raios X, raios gama, partículas beta, etc) para a terapia
  de tumores, principalmente os malignos. Baseia-se na destruição das células
  tumorais pela absorção da energia da radiação, causando morte celular.
  O princípio básico maximiza o dano no tumor e minimiza o dano em
  tecidos vizinhos normais, irradiando uma região de várias
  direções diferentes, o que "focaliza" a radiação na área
  alvo.
</span>
