<label for="retrospectiva" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="retrospectiva" class="margin-toggle"/>
<span class="sidenote">Estudos retrospectivos: ou estudos observacionais, analisam
  dados de pacientes tratados ou seguidos previamente e anotados em prontuários.
  Como o estudo é planejado e realizado _após_ o procedimento analisado, não há
  chance de modificar os parâmetros envolvidos, logo, não se pode controlar fatores
  que podem alterar ou confundir os resultados. Assim, ao contrário de ensaios
  clínicos (planejados _antes_ de um procedimento, neste caso chamado de intervenção),
  os estudos observacionais não podem ser conclusivos, e são considerados
  _exploratórios_ (geram novos conhecimentos que são usados para criar teorias e
  planejar ensaios).
</span>
