<label for="rr" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="rr" class="margin-toggle"/>
<span class="sidenote">Em estatística e epidemiologia, o **risco relativo** ou razão
  de risco (RR) é a razão entre a probabilidade de ocorrência de um evento (por
  exemplo, desenvolver uma doença, estar lesionado) em um grupo exposto e a
  probabilidade de o evento ocorrer em uma grupo comparativo não exposto. O risco
  relativo inclui duas características importantes: (i) uma comparação de risco
  entre duas "exposições" coloca os riscos em contexto, e (ii) a "exposição" é
  assegurada por ter denominadores apropriados para cada grupo que representa a
  exposição. Normalmente, um RR = 2,0 significa um risco duas vezes maior entre
  os grupos.
</span>
