<label for="sensibilidade" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="sensibilidade" class="margin-toggle"/>
<span class="sidenote">Sensibilidade é a capacidade de um teste diagnóstico detectar
  doença em pacientes doentes, ou seja, a razão entre teste positivos em pacientes
  doentes (positivos verdadeiros) e a totalidade dos pacientes doentes. Já
  especificidade é a capacidade do exame afastar doença em pacientes saudáveis,
  ou seja, a razão entre testes negativos em pacientes saudáveis (negativos verdadeiros)
  e a totalidade dos pacientes saudáveis.
</span>
