<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Citrato de sildenafila ou simplesmente sildenafil é um fármaco usado no tratamento da disfunção erétil no homem. Também é eficiente na doença rara chamada hipertensão arterial pulmonar primária. Ele relaxa a parede arterial, levando a uma menor resistência e pressão arterial pulmonar. Desta forma ele reduz o trabalho em excesso do ventrículo direito do coração e melhora os sintomas da falência cardíaca do lado direito.
</span>
