<label for="sinal" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="sinal" class="margin-toggle"/>
<span class="sidenote">A **sinalização celular** faz parte de um complexo sistema de
   comunicação que governa e coordena as atividades e funções celulares. As células
   são capazes de se comunicar entre si através de sinais químicos, e esses sinais
   iniciam funções como a produção de hormônios, o crescimento celular, a morte
   celular programada e muitas outras. Alterações da sinalização celular ocorrem
   em doenças como o câncer, diabetes e doenças imunológicas.
  </span>
