<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Sirolimo, também conhecido como rapamicina, é um composto
  macrolídeo que é usado para revestir stents coronários, prevenir a rejeição de
  transplantes de órgãos e tratar uma doença pulmonar rara chamada
  linfangioleiomiomatose. Tem funções imunossupressoras em humanos e é
  especialmente útil na prevenção da rejeição de transplantes renais. Inibe a
  ativação de células T e células B, reduzindo sua sensibilidade à interleucina-2
  (IL-2) através da inibição da proteína mTOR. Foi isolado pela primeira vez em
  1972 por Surendra Nath Sehgal e colegas de amostras de Streptomyces
  hygroscopicus encontradas na Ilha de Páscoa. O nome original da droga,
  rapamicina, vem do nome nativo da ilha, Rapa Nui.
</span>
