<label for="sle" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="sle" class="margin-toggle"/>
<span class="sidenote">Sobrevida livre de eventos (SLE): em _análise de sobrevivência_, é o tempo que decorre até que ocorra um determinado evento pré-determinado. Na oncologia, costuma-se padronizar que é _o tempo entre o início de um tratamento até a falha desse tratamento_. A _falha_ inclui a progressão ou recidiva do tumor ou então o óbito do paciente por qualquer causa. A SLE é muito usada como _desfecho substituto_ em ensaios clínicos.
</span>
