<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Análise de sobrevivência ou de sobrevida é um ramo da
  estatística que analisa a duração de tempo até que um ou mais eventos aconteçam,
  como morte ou falha de um tratamento. A análise de sobrevivência tenta responder a perguntas como: qual é a proporção
  de uma população que sobreviverá após um certo tempo? Como circunstâncias
  particulares aumentam ou diminuem a probabilidade de sobrevivência? Assim, a
  definição de _sobrevida_ é importante. Na oncologia, em geral fala-se na sobrevida
  a partir do diagnóstico de uma doença (ou a partir do início de um tratamento).
</span>
