<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Transplante de células tronco: mais conhecido como
  _transplante de medula óssea_. É um tratamento anticâncer onde o paciente
  recebe uma dose muito alta de quimioterapia antineoplásica, a qual é capaz
  de destruir completamente a medula óssea do paciente (junto com as células
  cancerosas, espera-se). A medula óssea é, então, reconstituída com células
  retiradas do próprio paciente (transplante autólogo) ou de um doador compatível
  (transplante heterólogo ou alogênico). O procedimento é de risco e utilizado
  no tratamento de câncer refratário a tratamentos convencionais. Nem todo tipo
  de câncer pode ser curado com transplante de células tronco.
</span>
