<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="tmo" class="margin-toggle"/>
<span class="sidenote">Células tronco ou células-tronco são células imaturas que tem a
  capacidade de se dividir e darem origem a diversos tipos celulares diferentes.
  Elas passam pelo processo de multiplicação e diferenciação (quando adquirem
  características maduras) respondendo a sinais químicos (sinalização celular).
  Durante a vida embrionária, as células tronco existem em grande quantidade e
  dão origem a todos os tecidos do organismo. Mesmo na vida adulta, porém, uma
  pequena quantidade de células tronco permanece ativa em todos os tecidos vivos,
  com a capacidade de multiplicação mantida. No câncer, os tumores também contém
  célilas tronco tumorais, capazes de refazer o tumor completamente depois que ele
  é retirado por cirurgia ou destruído pela radio ou quimioterapia.
</span>
