<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox"  class="margin-toggle"/>
<span class="sidenote">Tumor vascular: é uma anomalia vascular formada pela
  proliferação de células de vasos sanguíneos. Diferentemente das malformações
  vasculares, demonstram proliferação de células endoteliais de diversas
  linhagens, e podem apresentar fase de crescimento rápido, constituindo,
  portanto, verdadeiras neoplasias. A maioria dos tumores vasculares é própria
  da faixa etária pediátrica, porém vários tipos podem ocorrer ao longo de toda
  a vida.
</span>
