<label for="liquid" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="liquid" class="margin-toggle"/>
<span class="sidenote">Tumor ósseo é uma neoplasia (crescimento celular anormal)
  que pode ser benignos (não invadem outros tecidos) ou malignos (câncer, invadem
  outros tecidos e metastizam). A maioria dos tumores de ossos são benignos e
  quando são malignos geralmente se originaram de outros cânceres (metástase óssea). 
  São duas vezes mais comuns em homens e a maioria dos casos aparecem entre os 5 e 20 anos.
</span>
