<label for="virus" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="virus" class="margin-toggle"/>
<span class="sidenote">Vírus oncolítico: um vírus que é capaz de infectar células
  de câncer e destruí-las. Essa capacidade somente será útil para terapia se o
  vírus for _seletivo_, ou seja, _não matar células normais do hospedeiro_. Diversos
  tipos de vírus já foram investigados neste sentido, como o vírus da varicela
  (catapora), adenovírus, vírus da Zika, etc. Nenhum tratamento, no entanto, foi
  desenvolvido a partir de vírus até o momento.
</span>
