<label for="tmo" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="zika" class="margin-toggle"/>
<span class="sidenote">O vírus da zica (em inglês, Zika virus; abreviatura: ZIKV) é um vírus do gênero Flavivirus. Em humanos, transmitido através da picada do mosquito Aedes aegypti, causa a doença também conhecida como zika — que embora raramente acarrete complicações para seu portador, apresenta indícios de poder causar microcefalia congênita (quando adquirido por gestante, podendo prejudicar o feto em alguns casos). O nome Zika tem sua origem na floresta de Zika, perto de Entebbe, capital da República de Uganda, onde o vírus foi isolado pela primeira vez em 1947. 
</span>
